<html>
	<head>
		<title>Great Human Diseases</title>
	</head>
	<body>
		<div>
            <h1>What are the deadliest diseases?</h1>
        </div>

        <div>
        	<p>published: 17.04.2020, 19:48</p>
        	<h2>First out here</h2>
        	<p>Уразуметь, предвидеть, распознать и предсказать чужую беду — это у людей обычное и простое дело! Но предсказать, распознать, предвидеть и уразуметь свою собственную беду — это большая редкость.</p>	
        </div>

		<div>
            <p>published: 17.04.2020, 20:00</p>
            <h2>Second out here</h2>
            <p>Итак, мои милые, развлекайтесь и — телу во здравие, почкам на пользу — веселитесь, читая мою книгу. Только вот что, балбесы, чума вас возьми: смотрите не забудьте за меня выпить, а уж за мной дело не станет!</p>
        </div>
	</body>
</html>